# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=/home/adityabekkam/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="agnoster"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup
plugins=(sudo git virtualenvs python fedora autopep8 pip supervisor arcanist zsh-256color alias-tips zsh-completions zsh-syntax-highlighting, zsh-autosuggestions vundle yum zsh-syntax-highlighting)
source $ZSH/oh-my-zsh.sh
source `which virtualenvwrapper.sh`
workon calm
date

# User configuration

#---------Calm flags----------------------------------
export EPSILON=/home/adityabekkam/epsilon/
export CALM=/home/adityabekkam/calm/
export DISABLE_SSL_ROUTE=true
export DISABLE_ELASTIC=true
export AUTH_MODE=basic
export ENABLE_APLOS=false
export PASS_PROJECT=false
export APLOS_BUILD_IP=10.4.96.150
export ERGON_COMPONENT_NAME=Calm-Engine-Hercules-Aditya
export DEPLOYMENT_TYPE=dev
# export APACHE_IP=10.5.75.11
# export APACHE_IP=10.5.215.89
#-----------------------------------------------------

export arcpath=$HOME
export PATH=${arcpath}/arcanist/bin:$PATH
export EDITOR=/usr/bin/vim
export GOROOT=/usr/local/go
export CALMGOPATH=$HOME/calm/.go
export GODEPSPATH=$HOME/workspace/gosrc
export SYSTEMGOPATH=$HOME/.go
export GOPATH=$CALMGOPATH:$SYSTEMGOPATH:$GODEPSPATH
#export GOPATH=$SYSTEMGOPATH:$CALMGOPATH
export PATH=$SYSTEMGOPATH/bin:$CALMGOPATH/bin:$GODEPSPATH/bin:$GOROOT/bin:$PATH
export PATH=$PATH:~/bin

if [ -f ${arcpath}/arcanist/resources/shell/bash-completion ]; then
        source ${arcpath}/arcanist/resources/shell/bash-completion
fi

# You may need to manually set your language environment
# export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/rsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias sync_time='sudo ntpdate pool.ntp.org'
alias vimzshrc='vim ~/.zshrc && source $_'
alias vimrc='vim ~/.vimrc && source $_'
alias gosrc='cd /home/adityabekkam/.go/src'
alias gocalm='cd /home/adityabekkam/calm/.go/src/calm'
alias provider='cd $GOPATH/src/terraform-provider-nutanix'
alias byee='deactivate && logout'
alias checklint='export LC_ALL=en_US.UTF-8 && arc lint'
alias getgolint='go get -u github.com/golang/lint/golint'
#-------------Calm related stuff--------------------------------#
alias v2yamls='cd /calm/src/calm/server/styx/yamls/v2'
alias buildstyx='cd /calm/bin && python build_styx.py -ip 10.4.96.150'
alias runstyx='cd /calm/bin/ && ./styx.sh'
alias jove='cd /calm/src/calm/server/jove/'
alias lib='cd /calm/src/calm/lib/'
alias protos='/calm/src/calm/lib/proto'
alias model='cd /calm/src/calm/lib/model'
alias tasks='cd /calm/src/calm/lib/model/tasks'
alias substrates='/calm/src/calm/lib/model/substrates'
alias accounts='cd /calm/src/calm/lib/model/accounts'
alias store='cd /calm/src/calm/lib/model/store'
alias server='cd /calm/src/calm/server'
alias yamls='cd /calm/src/calm/server/styx/yamls/apps'
alias gcp-cloud='cd /cloud/calm/cloud/gcp'
alias apis='cd /calm/.go/src/calm/api-service'
alias markos='cd /calm/src/calm/server/karan/markos/'
alias karan='cd /calm/src/calm/server/karan/'
alias v3api='/calm/src/calm/server/styx/v3/api'
#-------------Epsilon related stuff--------------------------------#
alias c_status='supervisorctl -c /calm/conf/supervisor/supervisord.conf status'
alias e_status='supervisorctl -c /epsilon/conf/supervisord.conf status'
alias c_supervisor='supervisorctl -c /calm/conf/supervisor/supervisord.conf'
alias e_supervisor='supervisorctl -c /epsilon/conf/supervisord.conf'
alias c_start='supervisord -c /calm/conf/supervisor/supervisord.conf'
alias e_start='supervisord -c /epsilon/conf/supervisord.conf'
alias c_stop='supervisorctl -c /calm/conf/supervisor/supervisord.conf stop '
alias e_stop='supervisorctl -c /epsilon/conf/supervisord.conf stop '
alias c_restart='supervisorctl -c /calm/conf/supervisor/supervisord.conf restart all'
alias e_restart='supervisorctl -c /epsilon/conf/supervisord.conf restart all'
alias c_shutdown='supervisorctl -c /calm/conf/supervisor/supervisord.conf shutdown'
alias e_shutdown='supervisorctl -c /epsilon/conf/supervisord.conf shutdown'
alias copybinaries='cd /calm/bin && scp indra arjun jove karan vajra helios nutanix@10.4.96.150:/home/nutanix/binary/'
alias fetchgodeps='cd ~/workspace/ && rm -rf gosrc gosrc.tar  && scp nutanix@10.4.96.150:/home/nutanix/gosrc.tar ./ && tar -xf ./gosrc.tar'
# Utility functions
